# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*




# Builds
client/build/
client/.cache/
server/dist/

# Env
.env
.env.*
client/.env
server/.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.sqlite-journal

# Coverage
coverage/

# SQLite database (dev)
server/database.sqlite

# VSCode
.vscode/

# Misc
*.local
